<footer class="footer">
<nav>
  <p>Highest attempted level: Pass </p>
<ul>
<li><a href="https://www.facebook.com/">Facebook</a></li>
<li><a href="https://twitter.com/">Twitter</a></li>
<li><a href="https://www.linkedin.com/">LinkedIn</a></li>
</ul>
</nav>
</footer>